<style>
body {
  background-image: url('Images/Forest.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
<section id="banner">
	<div class="content">
		<header>
			<h2>МАКСИМ СОЛДАТОВ</h2>
			<p>Резюме-картка</p>
		</header>
		<span class="image"><img src="~/Images/ProfilePortret.jpg" alt="" /></span>
	</div>
	<a href="#one" class="goto-next scrolly">Next</a>
</section>
