<section id="two" class="spotlight style2 right">
	<div class="image fit main"><img src="~/Images/ProfilePortret.jpg/" alt="" /></div>
	<div class="content">
		<header>
			<h2>-</h2>
			<p>-</p>
		</header>
	<p>-</p>
	<ul class="actions">
		<li><a href="#" class="button">Learn More</a></li>
	</ul>
	</div>
	<a href="#three" class="goto-next scrolly">Next</a>
</section>