<section id="one" class="spotlight style1 bottom">
	<span class="image fit main"><img src="~/Images/Pic1.jpg" alt="Loh" /></span>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-4 col-12-medium">
				<h3>ОСВІТА І КВАЛІФІКАЦІЇ</h3>
					<strong>Вища незакінчена освіта</strong>
					<br/>
					<i>вер 2020 - лип 2025</i>
					<br/>
					<p>Національний Авіаційний університет, Київ
					Навчаюсь на ІІІ курсі, на факультеті кібербезпеки,
					комп'ютерної та програмної інженерії, спеціальність 121, денна
					форма навчання.</p>	
				</div>
				<div class="col-4 col-12-medium">
					<h3>ДОСВІД РОБОТИ</h3>
					<strong>Менеджер по роботі з клієнтами</strong>
					<br/>
					<i>лют 2021 - лют 2023</i>
					<br/>
					<p>На посаді я працював з CRM, обробляв заявки клієнтів,
					консультував клієнтів щодо іхніх проблем та фіксував всю
					інформацію в базу даних. На другий рік роботи отримав
					підвищення до посади старшого менеджера, керував
					процесом роботи команди та вирішував більш складні питання.</p>
				</div>
				<div class="col-4 col-12-medium">
					<h3>ОСОБИСТІ ДАНІ</h3>
					<p>Адреса: Вулиця Братів Зерових, 03037, Київ<br/>
					Номер телефону: +(380) 93 218 09 41<br/>
					Email: msoldatov2003@gmail.com<br/>
					Дата народження: 17-03-2003<br/>
					Місце народження: м.Нетішин<br/>
					Стать: Чоловіча<br/>
					Національність: Українець<br/>
					Сімейний стан: Неодружений<br/>
					Посвідчення водія: Відсутнє<br/></p>
				</div>
			</div>
		</div>
	</div>
	<a href="#two" class="goto-next scrolly">Next</a>
</section>