<section id="three" class="spotlight style3 left">
	<span class="image fit main bottom"><img src="Images/Pic1.jpg" alt="" /></span>
	<div class="content">
		<header>
			<h2>-</h2>
			<p>-</p>
		</header>
		<p>-</p>
		<ul class="actions">
			<li><a href="#" class="button">Learn More</a></li>
		</ul>
	</div>
	<a href="#four" class="goto-next scrolly">Next</a>
</section>